/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* Body */
body {
  background-color: #eceaff;
  font-family: "Roboto Mono", serif;
}

/* Stopwatch Container */
.stopwatch-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Stopwatch Box*/
.stopwatch {
  width: 30rem;
  padding: 1rem;
  display: flex;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./images/background.png) no-repeat center center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  gap: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Timer */
.timer {
  font-size: 3.5rem;
  color: #fff;
}

.colon {
  vertical-align: 4px;
}

/* Controls */
.controls {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.start {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background-color: #fd602a;
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.stop,
.reset {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  cursor: pointer;
}

/* Media Query */
@media screen and (max-width: 30rem) {
  .stopwatch {
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    gap: 0;
    border-radius: 0;
  }
}
